## Space X Falcon 9 First Stage Landing Prediction

## Objective

1.  Understand the Spacex DataSet collected from Wikipedia website (2_extra_webscraping.ipynb)
2.  Load the dataset into the table in a Db2 database
3.  Execute SQL queries to explore data

In [16]:
#!pip install sqlalchemy==1.3.9
#!pip install ibm_db_sa
#!pip install ipython-sql

### Connect to the database

In [2]:
%load_ext sql

In [3]:
%sql ibm_db_sa://*************@54a2f15b-5c0f-46df-8954-7e38e612c2bd.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:32733/bludb?security=SSL

### Names of the unique launch sites  in the space mission

In [4]:
%%sql
select * from Spacex limit 5;

 * ibm_db_sa://hkj71391:***@54a2f15b-5c0f-46df-8954-7e38e612c2bd.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:32733/bludb
Done.

[(datetime.date(2010, 6, 4), datetime.time(18, 45), 'F9 v1.0  B0003', 'CCAFS LC-40', 'Dragon Spacecraft Qualification Unit', 0, 'LEO', 'SpaceX', 'Success', 'Failure (parachute)'),
 (datetime.date(2010, 12, 8), datetime.time(15, 43), 'F9 v1.0  B0004', 'CCAFS LC-40', 'Dragon demo flight C1, two CubeSats, barrel of Brouere cheese', 0, 'LEO (ISS)', 'NASA (COTS) NRO', 'Success', 'Failure (parachute)'),
 (datetime.date(2012, 5, 22), datetime.time(7, 44), 'F9 v1.0  B0005', 'CCAFS LC-40', 'Dragon demo flight C2', 525, 'LEO (ISS)', 'NASA (COTS)', 'Success', 'No attempt'),
 (datetime.date(2012, 10, 8), datetime.time(0, 35), 'F9 v1.0  B0006', 'CCAFS LC-40', 'SpaceX CRS-1', 500, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt'),
 (datetime.date(2013, 3, 1), datetime.time(15, 10), 'F9 v1.0  B0007', 'CCAFS LC-40', 'SpaceX CRS-2', 677, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt')]

In [5]:
%%sql
select distinct launch_site from Spacex;

 * ibm_db_sa://hkj71391:***@54a2f15b-5c0f-46df-8954-7e38e612c2bd.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:32733/bludb
Done.

[('CCAFS LC-40',), ('CCAFS SLC-40',), ('KSC LC-39A',), ('VAFB SLC-4E',)]

### 5 records where launch sites begin with the string 'CCA'

In [6]:
%%sql
select * from Spacex where launch_site Like 'CCA%' limit 5 ;

 * ibm_db_sa://hkj71391:***@54a2f15b-5c0f-46df-8954-7e38e612c2bd.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:32733/bludb
Done.

[(datetime.date(2010, 6, 4), datetime.time(18, 45), 'F9 v1.0  B0003', 'CCAFS LC-40', 'Dragon Spacecraft Qualification Unit', 0, 'LEO', 'SpaceX', 'Success', 'Failure (parachute)'),
 (datetime.date(2010, 12, 8), datetime.time(15, 43), 'F9 v1.0  B0004', 'CCAFS LC-40', 'Dragon demo flight C1, two CubeSats, barrel of Brouere cheese', 0, 'LEO (ISS)', 'NASA (COTS) NRO', 'Success', 'Failure (parachute)'),
 (datetime.date(2012, 5, 22), datetime.time(7, 44), 'F9 v1.0  B0005', 'CCAFS LC-40', 'Dragon demo flight C2', 525, 'LEO (ISS)', 'NASA (COTS)', 'Success', 'No attempt'),
 (datetime.date(2012, 10, 8), datetime.time(0, 35), 'F9 v1.0  B0006', 'CCAFS LC-40', 'SpaceX CRS-1', 500, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt'),
 (datetime.date(2013, 3, 1), datetime.time(15, 10), 'F9 v1.0  B0007', 'CCAFS LC-40', 'SpaceX CRS-2', 677, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt')]

In [7]:
%%sql
select Distinct "Landing _Outcome" from Spacex;

 * ibm_db_sa://hkj71391:***@54a2f15b-5c0f-46df-8954-7e38e612c2bd.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:32733/bludb
Done.

[('Controlled (ocean)',),
 ('Failure',),
 ('Failure (drone ship)',),
 ('Failure (parachute)',),
 ('No attempt',),
 ('Precluded (drone ship)',),
 ('Success',),
 ('Success (drone ship)',),
 ('Success (ground pad)',),
 ('Uncontrolled (ocean)',)]

### Total payload mass carried by boosters launched by NASA (CRS)

In [8]:
%%sql
select sum(payload_mass__kg_) from Spacex where customer = 'NASA (CRS)';

 * ibm_db_sa://hkj71391:***@54a2f15b-5c0f-46df-8954-7e38e612c2bd.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:32733/bludb
Done.

[(45596,)]

### Average payload mass carried by booster version F9 v1.1

In [9]:
%%sql
select AVG(payload_mass__kg_) from Spacex where booster_version like 'F9 v1.1%';

 * ibm_db_sa://hkj71391:***@54a2f15b-5c0f-46df-8954-7e38e612c2bd.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:32733/bludb
Done.

[(2534,)]

### Date when the first successful landing outcome in ground pad was achieved

In [10]:
%%sql
select min(DATE) from Spacex where mission_outcome = 'Success';

 * ibm_db_sa://hkj71391:***@54a2f15b-5c0f-46df-8954-7e38e612c2bd.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:32733/bludb
Done.

[(datetime.date(2010, 6, 4),)]

### Names of the boosters which have success in drone ship and have payload mass greater than 4000 but less than 6000

In [11]:
%%sql
select booster_version from Spacex
where ("Landing _Outcome" = 'Success (drone ship)') AND (payload_mass__kg_>4000) AND (payload_mass__kg_<6000);

 * ibm_db_sa://hkj71391:***@54a2f15b-5c0f-46df-8954-7e38e612c2bd.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:32733/bludb
Done.

[('F9 FT B1022',), ('F9 FT B1026',), ('F9 FT  B1021.2',), ('F9 FT  B1031.2',)]

### Total number of successful and failure mission outcomes

In [12]:
%%sql
select mission_outcome, count(mission_outcome) as Count from Spacex 
group by mission_outcome;

 * ibm_db_sa://hkj71391:***@54a2f15b-5c0f-46df-8954-7e38e612c2bd.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:32733/bludb
Done.

[('Failure (in flight)', 1),
 ('Success', 99),
 ('Success (payload status unclear)', 1)]

### Names of the booster_versions which have carried the maximum payload mass

In [13]:
%%sql
select booster_version, payload_mass__kg_ from Spacex
where payload_mass__kg_ = (select max(payload_mass__kg_) from Spacex);

 * ibm_db_sa://hkj71391:***@54a2f15b-5c0f-46df-8954-7e38e612c2bd.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:32733/bludb
Done.

[('F9 B5 B1048.4', 15600),
 ('F9 B5 B1049.4', 15600),
 ('F9 B5 B1051.3', 15600),
 ('F9 B5 B1056.4', 15600),
 ('F9 B5 B1048.5', 15600),
 ('F9 B5 B1051.4', 15600),
 ('F9 B5 B1049.5', 15600),
 ('F9 B5 B1060.2', 15600),
 ('F9 B5 B1058.3', 15600),
 ('F9 B5 B1051.6', 15600),
 ('F9 B5 B1060.3', 15600),
 ('F9 B5 B1049.7', 15600)]

### Failed landing_outcomes in drone ship, their booster versions, and launch site names for in year 2015

In [14]:
%%sql
select "Landing _Outcome", booster_version, launch_site from Spacex
where ("Landing _Outcome" = 'Failure (drone ship)') AND (YEAR(DATE) = 2015);

 * ibm_db_sa://hkj71391:***@54a2f15b-5c0f-46df-8954-7e38e612c2bd.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:32733/bludb
Done.

[('Failure (drone ship)', 'F9 v1.1 B1012', 'CCAFS LC-40'),
 ('Failure (drone ship)', 'F9 v1.1 B1015', 'CCAFS LC-40')]

### Ranking the count of landing outcomes between the date 2010-06-04 and 2017-03-20

In [15]:
%%sql
select "Landing _Outcome", count("Landing _Outcome") as Count from Spacex 
where (DATE >= '2010-06-04') AND (DATE<= '2017-03-20')
group by "Landing _Outcome" 
order by Count DESC;

 * ibm_db_sa://hkj71391:***@54a2f15b-5c0f-46df-8954-7e38e612c2bd.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:32733/bludb
Done.

[('No attempt', 10),
 ('Failure (drone ship)', 5),
 ('Success (drone ship)', 5),
 ('Controlled (ocean)', 3),
 ('Success (ground pad)', 3),
 ('Failure (parachute)', 2),
 ('Uncontrolled (ocean)', 2),
 ('Precluded (drone ship)', 1)]